<% content_for :left_column do %>
		
		<h3>All Users</h3>

		<table class="table table-striped">>
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Favorite Language</th>
			</thead>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.favorite_language %></td>
			</tr>
			<% end %>
		</table>
<% end %>

<% content_for :right_column do %>

		<h3>New User</h3>

		<form action="/users/create" method="post">
			<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
			<label>First Name</label><br>
			<input type="text" name="user[first_name]"/><br>
			<label>Last Name</label><br>
			<input type="text" name="user[last_name]"/><br>
			<label>Favorite Language</label><br>
			<input type="text" name="user[favorite_language]"/><br><br>
			<input type='submit' value='Add User'/>
		</form>
		<br>
		<button><a href="/posts"> All Posts</a></button>

<% end %>